
<div class="container-signin-signup">
  <div class="container-inside">
    <nav>
      <a href="/">
        <img src="/assets/Logo.png" alt="">
      </a>
    </nav>

    <div class="main-signin-signup">
      <section class="home-text">
        <p><%= render "devise/shared/error_messages", resource: resource %></p>
        <h1>Take action<span> Today<span>.</h1>
      </section>

      <section>
         <div class="form">
           <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :class => 'form') do |f| %>
             <%= f.label "first_name:", :class => 'label' %><br>
             <%= f.text_field :first_name, autofocus: true, autocomplete: "Firstname", :class => 'input' %><br>
             <%= f.label "last_name:", :class => 'label' %><br>
             <%= f.text_field :last_name, autofocus: true, autocomplete: "Lastname", :class => 'input'  %><br>
             <%= f.label "email:", :class => 'label' %><br>
             <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'input' %><br>
             <%= f.label "password:", :class => 'label' %><br>
             <%= f.password_field :password, autocomplete: "new-password", :class => 'input' %><br>
             <%= f.label "password_confirmation:", :class => 'label' %><br>
             <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'input' %><br>
             <%= f.submit 'Sign up', :class => 'button' %>
             <a class="button button-cancel" href="/">Cancel</a>
           <% end %>
         </div>
      </section>
    </div>
  </div>
</div>
