
<div class="container-signin-signup">
  <div class="container-inside">
    <nav>
      <a href="/">
        <%= image_tag'https://s3.amazonaws.com/tax-tracker-development/Logo.png', class:"img"  %>
      </a>
    </nav>

    <div class="main-signin-signup">
      <section class="home-text">
        <p><%= render "devise/shared/error_messages", resource: resource %></p>
        <h1>Take action<span> Today<span>.</h1>
      </section>

      <section>
         <div class="form">
           <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :class => 'form') do |f| %>
             <%= f.label "first_name:", :class => 'label' %>
             <%= f.text_field :first_name, autofocus: true, autocomplete: "Firstname", :class => 'input' %>
             <%= f.label "last_name:", :class => 'label' %>
             <%= f.text_field :last_name, autofocus: true, autocomplete: "Lastname", :class => 'input'  %>
             <%= f.label "email:", :class => 'label' %>
             <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'input' %>
             <%= f.label "password:", :class => 'label' %>
             <%= f.password_field :password, autocomplete: "new-password", :class => 'input' %>
             <%= f.label "password_confirmation:", :class => 'label' %>
             <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'input' %>
             <%= f.submit 'Sign up', :class => 'button' %>
             <a class="button button-cancel" href="/">Cancel</a>
           <% end %>
         </div>
      </section>
    </div>
  </div>
</div>
<footer class="footer">
  <ul>
    <li><a><%= link_to 'About Us', aboutUs_path %></a></li>
    <li><a><%= link_to 'Contact Us', contact_path %></a></li>
  </ul>
</footer>
