<% if @user %>

  <div id="app" class="hero"/>

<% else %>

  <div class="container">
    <div class="container-inside">
      <nav>
        <a href="/">
          <%= image_tag'https://s3.amazonaws.com/tax-tracker-development/Logo.png', class:"img"  %>
        </a>
        <ul>
          <li>
            <a>
              <%= link_to 'Sign In', new_user_session_path, class:"button-home-page" %>
            </a>
          </li>
          <li>
            <a>
              <%= link_to 'Sign Up', new_user_registration_path, class:"button-home-page" %>
            </a>
          </li>
        </ul>
      </nav>

      <main>
        <%= image_tag'https://s3.amazonaws.com/tax-tracker-development/Homeimage.png', class:"img2" %>

        <section class="home-text-one">
          <h1>Welcome to Tax Tracker</h1>
          <h1>Enjoy the benefit of tracking your</h1>
          <h1>mileages, earnings and taxes</h1>
          <h1>for free.</h1>
          <a>
            <%= link_to 'Sign Up', new_user_registration_path, class:"button-home-page" %>
          </a>
          <p>Already have an account?
            <a>
              <%= link_to ' Log In', new_user_session_path %>
            </a>
          </p>
        </section>
      </main>
    </div>
  </div>
  <footer class="footer">
    <ul>
      <li><a><%= link_to 'About Us', aboutUs_path %></a></li>
      <li><a><%= link_to 'Contact Us', contact_path %></a></li>
    </ul>
  </footer>

<% end %>
