
<div class="container-signin-signup">
  <div class="container-inside">
    <nav>
      <a href="/">
        <%= image_tag'https://s3.amazonaws.com/tax-tracker-development/Logo.png', class:"img"  %>
      </a>
    </nav>

    <div class="main-signin-signup">
      <section class="home-text">
        <h1>Welcome <span>back<span>!</h1>
      </section>

      <section>
        <%- flash.each do |key, value| -%>
          <div class="flash flash-<%= key %>">
            <p><%= value %></p>
          </div>
        <%- end -%>

         <div class="form">
           <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => 'form') do |f| %>
             <%= f.label "email", :class => 'label' %>
             <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "ab@gmail.com", :class => 'input' %>
             <%= f.label "password", :class => 'label' %>
             <%= f.password_field :password, autocomplete: "new-password", placeholder: "password", :class => 'input' %>
             <% if devise_mapping.rememberable? %>
                 <%= f.check_box :remember_me, :class => 'check-box' %>
                 <%= f.label :remember_me, :class => 'check-box-label' %><br><br>
             <% end %>
             <%= f.submit "Log in", :class => 'button' %>
             <a class="button button-cancel" href="/">Cancel</a>
           <% end %>
           <p>
             <%= render "devise/shared/links" %>
           </p>
         </div>
      </section>
    </div>
  </div>
</div>
<footer class="footer">
  <ul>
    <li><a><%= link_to 'About Us', aboutUs_path %></a></li>
    <li><a><%= link_to 'Contact Us', contact_path %></a></li>
  </ul>
</footer>
