<!DOCTYPE html>
<html>
<head>
  <title>TaxTracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="dashboard.css">
  <link rel="stylesheet" href="https://unpkg.com/react-table@latest/react-table.css">
    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="top-nav">
    <li>
      <a href="/">
        <%= image_tag'/assets/TaxTrackerlogo.png' %>
      </a>
    </li>

    <%- if current_user -%>
    <li class="right">
    <a>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"button" %>
    </a>
    </li>
    <%- else -%>
    <li class="right">
      <a>
      <%= link_to 'Sign Up', new_user_registration_path, class:"button" %>
      </a>
    </li>
    <li class="right">
      <a>
      <%= link_to 'Sign In', new_user_session_path, class:"button" %>
      </a>
    </li>
    <%- end -%>
  </ul>


  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>

  <div class="footer">
    <p><a href="#"><strong>About Us<strong></a></p>
    <p><a href="#"><strong>Contact<strong></a></p>
  </div>

</body>
</html>
